{
  "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]],
  "plugins": [
    "transform-strict-mode",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [".js"]
      }
    ]
  ]
}
